.env
.env
.env
.env
.env
node_modules/
frontend/dist/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/
dist/
build/


.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

.vscode/
.idea/
*.swp
*.swo


.cache/
models/